@import '../../vars.scss';
.wrapper {
  position: relative;
  font-size: 0.875rem;
  display: inline-block;
  .valueRendered {
    width: 100%;
    text-align: left; // important for other selectors - :hover etc.
    position: relative;
    .label {
      position: absolute;
      top: -18px;
      font-size: 1rem;
      left: 14px;
      pointer-events: none;
    }
    .valueRenderedWrapper {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
      width: 100%;
      &>* {
        flex-grow: 1;
        max-width: 100%;
        min-width: 1px;
      }
      .arrowWrapper {
        flex-grow: 0;
        transition: 0.2s color;
        position: relative;
        width: 1px;
        height: 100%;
        margin-left: 12px;
        &:before,
        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-bottom: 3px solid $textSecondary;
        }
        &:after {
          top: -4px;
        }
        &:before {
          top: 2px;
          transform: rotate(180deg);
        }
      }
    }
  }
  .valueWrapper {
    text-overflow: ellipsis;
    white-space: nowrap;
    &.placeholderEmpty {
      color: $textSecondary;
    }
  }
}

.optionListWrapper {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
  border: 1px solid $borderColorDarker;
  background: white;
  border-radius: 4px;
  position: absolute !important;
  z-index: 1000;
  top: 100%;
  right: 0;
  transform: translateY(6px);
  max-height: 306px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-width: 140px;
  &>* {
    min-height: 1px;
  }
  .optionList {
    width: 100%;
    min-height: 1px;
    max-height: 235px;
    position: relative;
    overflow-y: auto;
    &>* {
      width: 100%;
    }
    .option,
    .option:focus {
      width: 100%;
      outline: none;
      cursor: pointer;
      width: 100%;
      background: transparent;
      border: none;
      text-align: left;
      border-radius: 0;
      min-height: 38px;
      .optionContent {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        &>* {
          min-width: 1px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &>*:first-child {
          flex-grow: 1;
          flex-shrink: 1;
        }
      }
      .check {
        color: $green;
        margin-left: 12px;
        flex-shrink: 0;
        position: relative;
        width: 5px;
        height: 5px;
        background: $green;
        border-radius: 50%;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
      }
    }
    .option:focus {
      color: $textMain;
    }
  }
}

.labelAndOther {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &>*:first-child {
    min-width: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .plusValue {
    display: inline-block;
    background: $borderColorDarker;
    border: 1px solid $borderColor;
    height: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    min-width: 30px;
    margin-left: 10px;
    font-size: 0.7rem;
  }
}
