@import '../../vars';
/* The container */

.container {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 20px 
}

/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: $bg;
    border-radius: 50%;
    border: 1px solid $borderColorDarker
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    // background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

@keyframes checkmark {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

.container input:checked~.checkmark {
    animation: checkmark .4s;
    background-color: $green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}