@import '../../../vars';
.responsive_tab {
    @media screen and (min-width: $mobile){
        width: 40%;
    }
}

.responsive_timeline {
    margin-top: 0;
    height: -webkit-fill-available;
 
    @media screen and (min-width: 812px) and (max-width: $almostTablet){
        width: 70vw;
        margin-top: 10px;
        position: fixed;
    }

    @media screen and (min-width: $tablet){
        width: max-content;
        min-width: 40vw;
        max-width: 80vw;
        margin-top: 15px;
    }
}