@import '../../../vars';
.responsive_tab {
    @media screen and (min-width: $mobile){
        width: 40%;
    }
}

.responsive_timeline {
    margin-top: 0;
    height: -webkit-fill-available;
    height: auto;
 
    @media screen and (min-width: 812px) and (max-width: $almostTablet){
        max-width: 70vw;
    }

    @media screen and (min-width: $tablet){
        width: max-content;
        min-width: 40vw;
        max-width: 80vw;
    }
}

.tab_style {
    min-height: fit-content;
}

.timeline_container {
    height: fit-content;
    width: fit-content;
}