@import '../../vars'; 
.overflowTable{
    overflow-x: auto;
    overflow-y: hidden;
}
.pagination{
    justify-content: flex-end;
    padding: 25px;
    margin: 0;

    .active>a{
        color: $textMain
    }
    li{
        padding: 0 5px 0 5px
    }
}