@import '../../vars'; 
.overflowTable{
    overflow-x: auto;
    overflow-y: auto;
    tbody {
        display:block;
        height:500px;
        overflow:auto;
    }
    thead, tbody tr {
       
        width: 100%;
        display:table;
        table-layout:fixed;/* even columns width , fix width of table too*/
    }
}
.pagination{

    justify-content: flex-end;
    padding: 25px;
    margin: 0;
    .active>a{
        color: $textMain
    }
    li{
        padding: 0 5px 0 5px
    }
}