@import '../../vars';
.overflowTable {
    overflow-x: auto;
    overflow-y: auto;
    tbody {
        display: block;
        height: fit-content;
        overflow: auto;
    }
    thead,
    tbody tr {
        >td{
            padding-left: 15px;
            padding-right: 0;
        }
        width: 100%;
        display: table;
        table-layout: fixed;
        /* even columns width , fix width of table too*/
    }
}

.pagination {
    justify-content: flex-end;
    padding: 25px;
    margin: 0;
    .active>a {
        color: $textMain
    }
    li {
        padding: 0 5px 0 5px
    }
}