@import "../../vars";
.form_select {
    width: 100%;
}

.selectLabel {
    font-size: .75rem;
    font-weight: 500;
    color: $textSecondary;
    margin-bottom: 7px;
    display: block;
    line-height: 1.125rem;
}

.select_container {
    >* {
        display: inherit;
    }
}

.button {
    >button {
        background-color: white;
        border: 1px solid $borderColor;
        +div {
            >div button:hover {
                background-color: $lightBlue!important;
            }
        }
    }
    >* {
        right: auto;
    }
}