@import '../../vars';
.form_btn_submit {
    margin-top: 35px;
}

.form_div {
    width: 70% !important;
    max-width: 450px !important;
    padding: 30px !important;
    padding-top: 0px !important; 
}

.form_div_container {
    min-height: 100%;
    flex-grow: 1;
}
