@import '../../vars';
.textArea_label {
    font-size: .75rem;
    font-weight: 500;
    color: $textSecondary;
    margin-bottom: 7px;
    display: block;
    line-height: 1.125rem;
}

.box_textarea {
    border: 1px solid $borderColor !important;
}

.textarea {
    &:focus {
        box-shadow: inset 0 0 0 1px $blue;
    }
    resize: none;
    border: 1px solid $borderColor;
    border-radius: 4px;
    display: block;
    width: 100%;
    background: white;
    transition: box-shadow .2s;
    padding: 10px 15px;
    outline: none;
}