.form-btn-submit {
    margin-top: 35px;
}

.form-div {
    width: 450px !important;
    padding-top: 0 !important;
    padding-bottom: 20px !important;
}

.form-div-title {
    height: 80px;
}

.form-div-container {
    margin-top: 130px;
}