@import "../../vars.scss";

.defaultDisplayComponent {
  width: 36px;
  padding: 0;
  text-align: center;
  justify-content: center;
  border-color: $borderColorDarker;
}
.btnContent {
  justify-content: center;
}

.list {
  position: absolute;
  z-index: 50;
  background: white;
  border: 1px solid $borderColorDarker;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  list-style: none;
  top: 100%;
  margin-top: 4px;
  right: 0;
  min-width: 140px;

  & > * {
    &:first-child {
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;
    }
    &:last-child {
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }

  &.bottomLeft {
    left: 0;
    right: auto;
  }
  &.topLeft, &.topRight {
    left: 0;
    right: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 4px;
  }
  &.topRight {
    left: auto;
    right: 0;
  }
}
