@import "../../vars.scss";
a.base:hover {
  text-decoration: none !important;
}
.base {
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  height: 36px;
  padding: 0 18px;
  background: white;
  border-radius: 4px;

  border: 1px solid $borderColorDarker;
  transition: all 0.3s ease-in-out 0s;
  color: $textMain;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;

  &.hasIcon {
    padding-left: 40px;
    .iconWrapper {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      font-size: 18px;
    }
  }
  &.iconRight {
    padding-right: 40px;
    padding-left: 18px;
    .iconWrapper {
      left: auto;
      right: 12px;
    }
  }

  .content {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > * {
    transition: .2s all;
  }
  & > .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.isLoading {
    & > * {
      opacity: 0;
    }
    & > .loader {
      opacity: 1;
    }
  }

  &.xs {
    height: 28px;
    padding: 0 15px;
    font-size: 12px;
  }

  &.lg {
    height: 48px;
    padding: 0 40px;
    font-size: 16px;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  &:hover {
    background: lighten($borderColorDarker, 10%);
  }
  &:focus {
    outline: none;
    box-shadow: none;
    background: lighten($borderColorDarker, 20%);
  }

  &.transparent {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &:active {
    border: 1px solid #eee;
    box-shadow: none;
    transform: translateY(0px);
  }

  @mixin buttonStyle($btnColor) {
    color: white;
    background: $btnColor;
    border-color: $btnColor;

    &:hover {
      border: 1px solid lighten($btnColor, 6%);
      background: lighten($btnColor, 6%);
    }

    &:active {
      border: 1px solid darken($btnColor, 7%);
      background: darken($btnColor, 5%);
    }
    &:focus {
      border: 1px solid darken($btnColor, 7%);
      background: darken($btnColor, 5%);
    }
  }
  &.success {
    @include buttonStyle($success);
  }
  &.warning {
    @include buttonStyle($warning);
  }
  &.error {
    @include buttonStyle($error);
  }
  &.primary {
    @include buttonStyle($primary);
  }
  &.default {
    @include buttonStyle(#eee);
  }
  &.dark {
    @include buttonStyle(rgba(0,0,0,0.4));
    border-width: 0 !important;
  }

  &:disabled {
    color: #bdbdbd;
    box-shadow: none;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    cursor: not-allowed;
    &.icon {
      opacity: 0.3;
    }
  }

  //icon inisde the button
  //Button without backround and without hover or effect
  &.clear {
    background: transparent;
    border: none !important;
    outline: none !important;
  }
  &.iconOnly {
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
    justify-content: center;
    font-size: 1.3rem;
    i.buttonIcon {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
/* Necessary if icon is present in <a> element
// otherwise it's not aligned to the text */
a.commonButton * {
  vertical-align: middle;
}
a.commonButton {
  text-decoration: none;
}

.buttonIcon {
  flex-grow: 0;
  margin-left: 8px;
  margin-right: -2px;
  font-size: 16px;
  &.iconLeft {
    margin-left: -2px;
    margin-right: 8px;
    order: -1;
  }
  &.iconOnly {
    margin-left: 0;
    margin-right: 0;
  }
}
