@import "../../vars";

.childrenWraper{
    padding: 15px;
    padding-top: 0;
    padding-left: 30px;
}

.responsive_container {
    height: fit-content;

    @media screen and (max-width: 900px) and (orientation: landscape), (orientation: portrait){
        flex-direction: column;
        height: fit-content;
    }
    @media screen and (min-width: 900px){
        flex-direction: row;
    }
}