// media
$mediaMobile: "screen and (max-width: 768px)";
$mediaTablet: "screen and (max-width: 1024px)";
$mediaDesktopSmall: "screen and (max-width: 1366px)";
$mobileS: 425px;
$mobile: 768px;
$almostMobile: 767px;
$tablet: 1024px;
$almostTablet: 1000px;
$desktop: 1366px;

$fontFamily: 'Roboto', sans-serif;
// basic
$shadow: rgba(51,51,51,0.5);
$bg: #FBFBFD;
$borderColor: #EAEDF3;
$borderColorDarker: #D8DCE6;
// text
$textMain: #3E3F42;
$textBase: #6B6C6F;
$textSecondary: #9EA0A5;
// colors
$green: #38B249;
$blue: #1665D8;
$orange: #F6AB2F;
$violet: #6977FF;
$red: #E6492D;
$success: $green;
$primary: $blue;
$warning: $orange;
$error: $red;
//----------
$lightBlue: lightblue;
$hover: $lightBlue;
$liBackground: #F6F9FD;
// base color pairs
$colorPairs: (green, #38B249),
(blue, #1665D8),
(orange, #F6AB2F),
(violet, #6977FF),
(red, #E6492D);
// mixins
@mixin generateColorVariants($class, $property, $alpha) {
  @each $name,
  $color in (green, #38B249),
  (blue, #1665D8),
  (orange, #F6AB2F),
  (violet, #6977FF),
  (red, #E6492D) {
    #{$class}.#{$name} {
      #{$property}: rgba($color, $alpha);
    }
  }
}

@mixin textOverflow {
  overflow: hidden;
  white-space: nowrap;
}

@mixin backgroundCover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// others
$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);


.appTransition{
  transition: ease-in-out all 0.2s;
}

.appContainer{
  height: inherit;
}