@import "./vars";
@import "./normalize.css";
@import "./font.scss";
.app {
    height: 100%;
    margin: auto;
    overflow: auto;
    @media screen and (min-width: $mobile) {
        font-size: 80%;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    @media screen and (max-width: $mobile) {
        font-size: 60%;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    background: $bg;
}

:global {
    .hidden {
        opacity: 0 !important;
        visibility: hidden;
    }
    .hidden-mobile {
        @media screen and (max-width: $mobile) {
            display: none;
        }
    }
}

body,
    {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: $fontFamily;
    background: $bg;
    color: $textMain;
    font-size: 16px;
    overflow: hidden;
    font-weight: 400; // font smoothing
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    input,
    button,
    textarea {
        color: $textMain;
        font-size: 16px;
        font-family: $fontFamily;
    }
    h1+*,
    h2+*,
    h3+*,
    h4+* {
        margin-top: 1em;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        transition: all 0.2s;
        margin: 0;
        line-height: 1.5;
        font-weight: 400;
        color: $textMain;
        &+p {
            margin-top: 0.3em;
        }
    }
    p {
        transition: all 0.2s;
        margin: 0;
        line-height: 1.375rem;
        font-weight: 400;
        font-size: 0.875rem;
        color: $textSecondary;
    }
    h1 {
        font-size: 2.25rem;
        font-weight: 600;
    }
    h2 {
        font-size: 1.375rem;
        line-height: 2rem;
    }
    h3 {
        font-size: 1.125rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    p+* {
        margin-top: 1.125em;
    }
    p+p {
        margin-top: 0.4em;
    }
    :global .wf-loading:not(.wf-inactive) {
        h1,
        h2,
        h3,
        p,
        span {
            visibility: hidden;
        }
    }
    a {
        transition: .2s;
        text-decoration: none;
        cursor: pointer;
    }
    p a {
        display: inline-block;
        position: relative;
        transition: all 0.2s;
    }
    strong {
        font-weight: 500;
    }
    ul,
    ol {
        line-height: 1.5;
        color: $textMain;
        font-size: 0.875rem;
        *:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    ol {
        padding-left: 20px;
    }
    ul:global(.no-style) {
        list-style: none;
        padding-left: 0;
        ul {
            padding-left: 20px;
        }
    }
    code:not([class]) {
        display: inline-block;
        background: #FBFBFD;
        border: 1px solid #DADEE7;
        border-radius: 4px;
        font-weight: 500;
        font-size: 0.875rem;
        color: #34AA44;
        line-height: 1.375rem;
        padding: 4px 12px;
        font-family: $fontFamily;
    }
}

:global #root {
    height: 100%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $textSecondary;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $textSecondary;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $textSecondary;
}

form {
    max-width: 600px;
}

// some helpers and pregenerated color classes
@each $name,
$color in $colorPairs {
    &:global(.color-#{$name}) {
        color: $color;
    }
}