@import "../../vars.scss";

.inputWrapper {
  position: relative;
}
.inputLabel {
  font-size: .75rem;
  font-weight: 500;
  color: $textSecondary;
  margin-bottom: 7px;
  display: block;
  line-height: 1.125rem;
}
.input {
  line-height: 36px;
  border: 1px solid $borderColor;
  border-radius: 4px;
  display: block;
  width: 100%;
  background: white;
  padding: 0 15px;
  transition: .2s all;
  outline: none;
  
  & + * {
    margin-top: 10px;
  }

  &:disabled {
    background: rgba(255,255,255,0.3);
  }

  &:focus {
    border-color: $primary;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: $textSecondary;
  }
  font-size: 0.875rem;
}

.iconWrapper {
  position: absolute;
  top: 50%;
  left: 12px;
  color: $borderColorDarker;
  transform: translateY(-50%);
  & + input {
    padding-left: 40px;
  }
}

.clear {
  .iconWrapper {
    left: 0;
    & + input {
      padding-left: 28px;
    }
  }
  input {
    padding: 0;
    border: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5500s ease-in-out 0s !important;
  color: $textBase !important;
  -webkit-text-fill-color: $textBase !important;
}
