@import '../../vars';

.responsive_content {
    padding: 0px 15px;
    @media screen and (max-width: $mobile){
        padding: 5px 0px;
    }
}

.title {
    color: $textSecondary;
    margin-bottom: 0px;
}
.content {
    margin-top: 0px; 
    margin-bottom: 0px
}

.image_container {
    position: relative;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    @media screen and (max-width: $mobileS) {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }
}