@import '../../vars';

.modalWrapper{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 5000;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: $shadow;
    overflow: auto;
    .formModal{
       
        margin: auto;
        width: 90%;
        max-width: 450px;
    }
    .header{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .child{
        padding: 25px;
    }
    .footHeadontainer{
        margin: 0;
        padding: 25px;
        height: 60px;
    }
}